---
layout: default
---

<div class="customcursor" id="site">
	<div
		style="text-align: center; padding-top: 5rem; padding-left: 3rem;padding-right: 3rem;"
	>
		<a style="padding: 0 0.75rem;" href="#background">Background</a>/
		<a style="padding: 0 0.75rem;" href="#skills">Skills</a>/
		<a style="padding: 0 0.75rem;" href="#exp">Experience</a>/
		<a style="padding: 0 0.75rem;" href="#fp">Featured Projects</a>/
		<a style="padding: 0 0.75rem;" href="#op">Other Projects</a>/
		<a style="padding: 0 0.75rem;" href="#p">Publications</a>/
		<a style="padding: 0 0.75rem;" href="#a">Awards</a>
	</div>

	<!-- <div class="preloader">
		<svg
			width="50"
			height="50"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 100 100"
			preserveAspectRatio="xMidYMid"
			class="lds-ripple"
			style="background:0 0"
		>
			<circle
				cx="50"
				cy="50"
				r="4.719"
				fill="none"
				stroke="#1d3f72"
				stroke-width="2"
			>
				<animate
					attributeName="r"
					calcMode="spline"
					values="0;40"
					keyTimes="0;1"
					dur="3"
					keySplines="0 0.2 0.8 1"
					begin="-1.5s"
					repeatCount="indefinite"
				/>
				<animate
					attributeName="opacity"
					calcMode="spline"
					values="1;0"
					keyTimes="0;1"
					dur="3"
					keySplines="0.2 0 0.8 1"
					begin="-1.5s"
					repeatCount="indefinite"
				/>
			</circle>
			<circle
				cx="50"
				cy="50"
				r="27.591"
				fill="none"
				stroke="#5699d2"
				stroke-width="2"
			>
				<animate
					attributeName="r"
					calcMode="spline"
					values="0;40"
					keyTimes="0;1"
					dur="3"
					keySplines="0 0.2 0.8 1"
					begin="0s"
					repeatCount="indefinite"
				/>
				<animate
					attributeName="opacity"
					calcMode="spline"
					values="1;0"
					keyTimes="0;1"
					dur="3"
					keySplines="0.2 0 0.8 1"
					begin="0s"
					repeatCount="indefinite"
				/>
			</circle>
		</svg>
	</div> -->
	<!-- {% include logo.html %} -->
	{% include switch.html %} {% include intro.html %}
	<div id="background">{%include background.html %}</div>
	<div id="skills">{% include skills.html %}</div>

	<div id="exp">{% include experience.html %}</div>
	<div id="fp">{% include featured-projects.html %}</div>
	<div id="op">{% include other-projects.html %}</div>
	<div id="p">{% include publications.html %}</div>
	<div id="a">{% include awards.html %}</div>
	{% include footer.html %} {% include top-button.html %}
</div>
