<section class="section background">
	<div class="section__title">Background</div>
	<div class="section__content">
		<p>
			I am a Master's student enrolled in the
			<a class="underline-link" href="https://cs.ucdavis.edu/" target="_blank"
				>Computer Science</a
			>
			program at the
			<a class="underline-link" href="https://www.ucdavis.edu/" target="_blank"
				>University of California, Davis</a
			>. Currently, I am the Teaching Assistant for
			<a
				class="underline-link"
				href="https://arts.ucdavis.edu/course-description/des-157b-interactive-media-iii-4"
				target="_blank"
			>
				DES 157B: Interactive Media III,
			</a>
			<a
				class="underline-link"
				href="https://arts.ucdavis.edu/design"
				target="_blank"
				>Department of Design</a
			>.
			<!-- <a class="underline-link" href="http://dtu.ac.in/" target="_blank"
        >Delhi Technological University</a
      >, Delhi, India, in 2020. -->
		</p>
		<p>
			My recent work experience includes being my startup,
			<a
				class="underline-link"
				href="https://www.mushinlabs.com/"
				target="_blank"
				>Mushin Innovation Labs Pvt. Ltd.</a
			>
			where I delivered 6 major projects within a year of taking charge, as a
			Chief Software Architect & Director. A part of my role was working with
			the Business Development team to establish the company’s portfolio,
			expanding the business verticals. I was also an integral part of the
			hiring and building of the company’s software team. Additionally, I
			managed a cross-platform team comprising of 6 frontend, backend, and cloud
			engineers.
			<!-- Furthermore, in my personal life, I  and most recently signed up to
      learn piano. -->
		</p>

		<p>
			As a software engineer, I enjoy bridging the gap between engineering and
			design &mdash; combining my technical knowledge with a keen eye for design
			to create a beautiful product. My goal is to always build efficient and
			scalable applications while providing engaging and pixel-perfect user
			experiences.
		</p>

		<p>
			<strong>When I'm not in front of a computer screen</strong>, I'm probably
			enjoying a variety of activities like playing soccer, cycling, or crossing
			off another item on my bucket list.
		</p>

		{% include employment-status.html %}
	</div>
</section>
