<section class="section featured-projects">
	<div class="section__title">Featured Projects</div>
	<div class="section__content">
		<div class="project blistabloc">
			<figure class="project__pic">
				<a href="https://www.mushinlabs.com/ecosystem" target="_blank">
					<img src="{{site.baseurl}}/img/featured/ecosystem.png" alt="" />
				</a>
			</figure>
			<figcaption class="project__caption">
				<div class="project__name">
					<a href="https://www.mushinlabs.com/ecosystem" target="_blank"
						>Mushin Ecosystem</a
					>
				</div>
				<p>
					A complete suite of interconnected hardware sensors and cloud-based
					software application.
				</p>
				<div class="techwrap">
					<div class="tech__used">
						<span class="tech__used__item">Vue.js</span>
					</div>
					<div class="tech__used">
						<span class="tech__used__item">Chart.js</span>
					</div>

					<div class="tech__used">
						<span class="tech__used__item">Laravel</span>
					</div>
					<div class="tech__used">
						<span class="tech__used__item">MySQL</span>
					</div>

					<div class="tech__used">
						<span class="tech__used__item">AWS</span>
					</div>
				</div>
			</figcaption>
		</div>

		<div class="project screentime">
			<figure class="project__pic">
				<a href="https://cowin21-notifier.herokuapp.com/" target="_blank">
					<img src="{{site.baseurl}}/img/featured/cowin.png" alt="" />
				</a>
			</figure>
			<figcaption class="project__caption">
				<div class="project__name">
					<a href="https://cowin21-notifier.herokuapp.com/" target="_blank"
						>CoWIN Notify</a
					>
				</div>
				<p>
					Web application that notifies registered users about availability of
					vaccine slots in real-time. Helping 1000+ users across 25+ states in
					India.
				</p>
				<div class="techwrap">
					<div class="tech__used">
						<span class="tech__used__item">React.js</span>
					</div>
					<div class="tech__used">
						<span class="tech__used__item">Python</span>
					</div>

					<div class="tech__used">
						<span class="tech__used__item">MongoDB</span>
					</div>
					<div class="tech__used">
						<span class="tech__used__item">Express.js</span>
					</div>
					<div class="tech__used">
						<span class="tech__used__item">Heroku</span>
					</div>

					<div class="tech__used">
						<span class="tech__used__item">SMTP</span>
					</div>
				</div>
			</figcaption>
		</div>

		<div class="project interventions">
			<figure class="project__pic">
				<a
					href="https://singhdivjeet.github.io/Blog-NFT-Marketplace/"
					target="_blank"
				>
					<img src="{{site.baseurl}}/img/featured/nft.png" alt="" />
				</a>
			</figure>
			<figcaption class="project__caption">
				<div class="project__name">
					<a
						href="https://singhdivjeet.github.io/Blog-NFT-Marketplace/"
						target="_blank"
						>NFT Marketplace</a
					>
				</div>
				<p>
					A decentralized NFT marketplace and minting platform focused to
					connect the creators to buyers.
				</p>
			</figcaption>
		</div>
	</div>
</section>
