<section class="section featured-projects">
	<div class="section__title">Featured Projects</div>
	<div class="section__content">
		<div class="project blistabloc">
			<figure class="project__pic">
				<a href="https://www.mushinlabs.com/ecosystem" target="_blank">
					<img src="{{site.baseurl}}/img/featured/ecosystem.png" alt="" />
				</a>
			</figure>
			<figcaption class="project__caption">
				<div class="project__name">
					<a href="https://www.mushinlabs.com/ecosystem" target="_blank"
						>Mushin Ecosystem</a
					>
				</div>
				<p>
					A complete suite of interconnected hardware sensors and cloud-based
					software application.
				</p>
				<div class="techwrap">
					<div class="tech__used">
						<span class="tech__used__item">Vue.js</span>
					</div>
					<div class="tech__used">
						<span class="tech__used__item">Chart.js</span>
					</div>

					<div class="tech__used">
						<span class="tech__used__item">Laravel</span>
					</div>
					<div class="tech__used">
						<span class="tech__used__item">MySQL</span>
					</div>

					<div class="tech__used">
						<span class="tech__used__item">AWS</span>
					</div>
				</div>
			</figcaption>
		</div>

		<div class="project screentime">
			<figure class="project__pic">
				<a href="https://cowin21-notifier.herokuapp.com/" target="_blank">
					<img src="{{site.baseurl}}/img/featured/cowin.png" alt="" />
				</a>
			</figure>
			<figcaption class="project__caption">
				<div class="project__name">
					<a href="https://cowin21-notifier.herokuapp.com/" target="_blank"
						>CoWIN Notify</a
					>
				</div>
				<p>
					Starry Station feature that provided users with the ability to easily
					filter content, pause the internet, and even create custom rules for
					blocking apps like Facebook and Twitter right from their phones.
				</p>
				<div class="techwrap">
					<div class="tech__used">
						<span class="tech__used__item">React.js</span>
					</div>
					<div class="tech__used">
						<span class="tech__used__item">Python</span>
					</div>

					<div class="tech__used">
						<span class="tech__used__item">MongoDB</span>
					</div>
					<div class="tech__used">
						<span class="tech__used__item">Express.js</span>
					</div>
					<div class="tech__used">
						<span class="tech__used__item">Heroku</span>
					</div>

					<div class="tech__used">
						<span class="tech__used__item">SMTP</span>
					</div>
				</div>
			</figcaption>
		</div>

		<div class="project interventions">
			<figure class="project__pic">
				<a href="https://interventions.design/" target="_blank">
					<img
						src="{{site.baseurl}}/img/featured/interventions/interventions.png"
						alt=""
					/>
				</a>
			</figure>
			<figcaption class="project__caption">
				<div class="project__name">
					<a href="https://interventions.design/" target="_blank"
						>Interventions</a
					>
				</div>
				<p>
					Interactive marketing website for Northeastern's first annual
					student-led design conference, Interventions.
				</p>
			</figcaption>
		</div>
	</div>
</section>
